################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Calastone/obj
/Calastone/bin/Debug/net10.0
/UnitTests/bin/Debug/net10.0
/UnitTests/obj
